@model TestApplication.Entities.Scheme
@using TestApplication.Helpers
@{
    ViewBag.Title = "AddFdScheme";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>FD Scheme</h2>

@if (Model?.Id > 0)
{
    <h4>Edit Scheme</h4>
}
else if (Convert.ToBoolean(ViewData["disablecontrols"]))
{
    <h4>View Scheme</h4>
}
else
{
    <h4>Add Scheme</h4>
}

@using (Html.BeginForm("AddFdScheme", "Fd", FormMethod.Post, new { role = "form" }))
{
    @Html.AntiForgeryToken()
    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        @Html.Partial("_AddScheme", Model);
        <div class="form-group">
            <div class="col-md-offset-2 col-md-8">
                @if (Model?.Id > 0)
                {
                <button type="submit" class="btn btn-primary waves-effect waves-light">Update Scheme</button>
                }
                else if (Convert.ToBoolean(ViewData["disablecontrols"]))
                {
                    <a class="btn btn-primary waves-effect waves-light" href="@Common.GetUrl("AddFdScheme", "Fd", @Model.Id + "?IsView=true")">Edit</a>
                }
                else
                {
                    <button type="submit" class="btn btn-primary waves-effect waves-light">Add Scheme</button>
                }
                <a class="btn btn-secondary" href="@Common.GetUrl("Schemes", "Fd")">
                    Cancel
                </a>
            </div>
        </div>
    </div>
}

@section Scripts {
    <script type="text/javascript">
        $(document).ready(function () {
            var disabled = '@ViewData["disablecontrols"].ToString()';
            if (disabled == 'True') {
                $('input,select').attr('disabled', disabled);
            }
        });
    </script>
}
