@model TestApplication.Entities.AmountTransaction
@*<p>
        Cras mattis consectetur purus sit amet fermentum. Cras
        justo odio, dapibus ac facilisis in, egestas eget quam.
        Morbi leo risus, porta ac consectetur ac, vestibulum at
        eros.
    </p>
    <p>
        Praesent commodo cursus magna, vel scelerisque nisl
        consectetur et. Vivamus sagittis lacus vel augue laoreet
        rutrum faucibus dolor auctor.
    </p>
    <p class="mb-0">
        Aenean lacinia bibendum nulla sed
        consectetur. Praesent commodo cursus magna, vel
        scelerisque nisl consectetur et. Donec sed odio dui.
        Donec ullamcorper nulla non metus auctor fringilla.
    </p>*@


<div class="col-md-12">
    <div class="card">
        <div class="card-body" style="padding:10px;">
            <div class="form-horizontal">
                <div class="form-group view-form">
                    @Html.LabelFor(m => m.MemberAccount.Member.Name, new { @class = "col-md-5 col-md-offset-1 control-label" })
                    <div class="col-md-6">
                        @Html.DisplayFor(m => m.MemberAccount.Member.Name)
                    </div>
                </div>

                <div class="form-group view-form">
                    @Html.Label("Account", new { @class = "col-md-5 col-md-offset-1 control-label" })
                    <div class="col-md-6">
                        @Html.DisplayFor(m => m.MemberAccount.Member.Mobile)
                    </div>
                </div>
                <div class="form-group view-form">
                    @Html.LabelFor(m => m.TransactionDate, new { @class = "col-md-5 col-md-offset-1 control-label" })
                    <div class="col-md-6">
                        @Html.DisplayFor(m => m.TransactionDateString)
                    </div>
                </div>

                <div class="form-group view-form">
                    @Html.LabelFor(m => m.Id, new { @class = "col-md-5 col-md-offset-1 control-label" })
                    <div class="col-md-6">
                        @Html.DisplayFor(m => m.Id)
                    </div>
                </div>
                <div class="form-group view-form">
                    @Html.LabelFor(m => m.TransactionType, new { @class = "col-md-5 col-md-offset-1 control-label" })
                    <div class="col-md-6">
                        @Html.DisplayFor(m => m.TransactionTypeString)
                    </div>
                </div>
                <div class="form-group view-form">
                    @Html.LabelFor(m => m.Amount, new { @class = "col-md-5 col-md-offset-1 control-label" })
                    <div class="col-md-6">
                        @Html.DisplayFor(m => m.Amount)
                    </div>
                </div>
                <div class="form-group view-form">
                    @Html.LabelFor(m => m.StatusId, new { @class = "col-md-5 col-md-offset-1 control-label" })
                    <div class="col-md-6">
                        @Html.DisplayFor(m => m.StatusText)
                    </div>
                </div>
                <div class="form-group view-form">
                    @Html.LabelFor(m => m.PaymentModeId, new { @class = "col-md-5 col-md-offset-1 control-label" })
                    <div class="col-md-6">
                        @Html.DisplayFor(m => m.PaymentMode)
                    </div>
                </div>
                <div class="form-group view-form">
                    @Html.LabelFor(m => m.Remarks, new { @class = "col-md-5 col-md-offset-1 control-label" })
                    <div class="col-md-6">
                        @Html.DisplayFor(m => m.Remarks)
                    </div>
                </div>
                <div class="form-group view-form">
                    @Html.LabelFor(m => m.CreationDate, new { @class = "col-md-5 col-md-offset-1 control-label" })
                    <div class="col-md-6">
                        @Html.DisplayFor(m => m.CreationDate)
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
