
@model TestApplication.Entities.TransactionPurpose
@using TestApplication.Models
@using TestApplication.Helpers

@{
    ViewBag.Title = "AddTransactionPurpose";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (Model?.Id > 0)
{
    <h2>Add Charge Type</h2>
}
else if (ViewBag.IsView == true)
{
    <h2>View Charge Type</h2>
}
else
{
    <h2>Add Charge Type</h2>
}

@using (Html.BeginForm("AddTransactionPurpose", "Admin", FormMethod.Post, new { role = "form" }))
{
    @Html.AntiForgeryToken()
    <div class="form-horizontal">
        <h4>Member</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-8">
                @Html.TextBoxFor(model => model.Name, new { @class = "form-control", required = "required" })
                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
            </div>
        </div>
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.Charges, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-8">
                @Html.TextBoxFor(model => model.Charges, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.IsActive, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-8">
                <input input data-val="true" data-val-required="The Active field is required." id="IsActive" name="IsActive" type="checkbox" value="true" switch="bool" checked="checked">
                <label for="IsActive" data-on-label="Yes" data-off-label="No" class="m-t-4"></label>
                @Html.ValidationMessageFor(model => model.IsActive, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-8">

                @if ((Model?.Id ?? 0) == 0)
                {
                    <button type="submit" class="btn btn-primary waves-effect waves-light">Add Type</button>
                }
                else if (ViewBag.IsView == true)
                {
                    <a class="btn btn-primary waves-effect waves-light" href="@Common.GetUrl("AddTransactionPurpose", "Admin", @Model.Id)">Edit</a>
                }
                else
                {
                    <button type="submit" class="btn btn-primary waves-effect waves-light">Update Type</button>
                }
                <a class="btn btn-secondary waves-effect waves-light" >
                    Cancel
                </a>
            </div>
        </div>
    </div>
}

@*@Html.Partial("Accounts/_Deposit",Model)*@

@section Scripts {
    <script type="text/javascript">
        $(document).ready(function () {
            var disabled = '@ViewData["disablecontrols"].ToString()';
            if (disabled == 'True') {
                $('input,select,:button').attr('disabled', disabled);
            }

        });
    </script>
}