@model TestApplication.Entities.MemberAccountNominee
@using TestApplication.Helpers
@{
    ViewBag.Title = "MemberProfile";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Jayant India Nidhi Limited.</h2>

<div>
    <h4>Member Profile</h4>
    <hr />
    <div class="form-horizontal">
        <div class="form-group company-form">
            @Html.LabelFor(m => m.Member.AgentId, new { @class = "col-md-3 col-md-offset-1 control-label" })
            <div class="col-md-8">
                @Html.DisplayFor(m => m.Member.AgentName)
            </div>
        </div>
        <div class="form-group company-form">
            @Html.LabelFor(m => m.Member.GroupId, new { @class = "col-md-3 col-md-offset-1 control-label" })
            <div class="col-md-8">
                @Html.DisplayFor(m => m.Member.GroupName)
            </div>
        </div>
        <div class="form-group company-form">
            @Html.LabelFor(m => m.Member.BranchId, new { @class = "col-md-3 col-md-offset-1 control-label" })
            <div class="col-md-8">
                @Html.DisplayFor(m => m.Member.BranchName)
            </div>
        </div>
        <div class="form-group company-form">
            @Html.LabelFor(m => m.Member.Title, new { @class = "col-md-3 col-md-offset-1 control-label" })
            <div class="col-md-8">
                @Html.DisplayFor(m => m.Member.TitleText)
            </div>
        </div>
        <div class="form-group company-form">
            @Html.LabelFor(m => m.Member.Gender, new { @class = "col-md-3 col-md-offset-1 control-label" })
            <div class="col-md-8">
                @Html.DisplayFor(m => m.Member.Gender)
            </div>
        </div>
        <div class="form-group company-form">
            @Html.LabelFor(m => m.Member.Name, new { @class = "col-md-3 col-md-offset-1 control-label" })
            <div class="col-md-8">
                @Html.DisplayFor(m => m.Member.Name)
            </div>
        </div>
        <div class="form-group company-form">
            @Html.LabelFor(m => m.Member.DOB, new { @class = "col-md-3 col-md-offset-1 control-label" })
            <div class="col-md-8">
                @Html.DisplayFor(m => m.Member.DOB)
            </div>
        </div>
        <div class="form-group company-form">
            @Html.LabelFor(m => m.Member.Occupation, new { @class = "col-md-3 col-md-offset-1 control-label" })
            <div class="col-md-8">
                @Html.DisplayFor(m => m.Member.Occupation)
            </div>
        </div>
        <div class="form-group company-form">
            @Html.LabelFor(m => m.Member.Email, new { @class = "col-md-3 col-md-offset-1 control-label" })
            <div class="col-md-8">
                @Html.DisplayFor(m => m.Member.Email)
            </div>
        </div>
        <div class="form-group company-form">
            @Html.LabelFor(m => m.Member.Mobile, new { @class = "col-md-3 col-md-offset-1 control-label" })
            <div class="col-md-8">
                @Html.DisplayFor(m => m.Member.Mobile)
            </div>
        </div>
        <div class="form-group company-form">
            @Html.LabelFor(m => m.Member.CountryId, new { @class = "col-md-3 col-md-offset-1 control-label" })
            <div class="col-md-8">
                @Html.DisplayFor(m => m.Member.CountryId)
            </div>
        </div>
        <div class="form-group company-form">
            @Html.LabelFor(m => m.Member.StateId, new { @class = "col-md-3 col-md-offset-1 control-label" })
            <div class="col-md-8">
                @Html.DisplayFor(m => m.Member.StateId)
            </div>
        </div>
        <div class="form-group company-form">
            @Html.LabelFor(m => m.Member.City, new { @class = "col-md-3 col-md-offset-1 control-label" })
            <div class="col-md-8">
                @Html.DisplayFor(m => m.Member.City)
            </div>
        </div>
        <div class="form-group company-form">
            @Html.LabelFor(x => x.Address, new { @class = "col-md-3 col-md-offset-1 control-label" })
            <div class="col-md-8">
                @Html.DisplayFor(m => m.Member.Address)
            </div>
        </div>
        <div class="form-group company-form">
            @Html.LabelFor(m => m.Member.AadharNumber, new { @class = "col-md-3 col-md-offset-1 control-label" })
            <div class="col-md-8">
                @Html.DisplayFor(m => m.Member.AadharNumber)
            </div>
        </div>
        <div class="form-group company-form">
            @Html.LabelFor(m => m.Member.VoterId, new { @class = "col-md-3 col-md-offset-1 control-label" })
            <div class="col-md-8">
                @Html.DisplayNameFor(m => m.Member.VoterId)
            </div>
        </div>
        <div class="form-group company-form">
            @Html.LabelFor(m => m.Member.PanNo, new { @class = "col-md-3 col-md-offset-1 control-label" })
            <div class="col-md-8">
                @Html.DisplayFor(m => m.Member.PanNo)
            </div>
        </div>
        <div class="form-group company-form">
            @Html.LabelFor(m => m.Member.FatherName, new { @class = "col-md-3 col-md-offset-1 control-label" })
            <div class="col-md-8">
                @Html.DisplayFor(m => m.Member.FatherName)
            </div>
        </div>
        <div class="form-group company-form">
            @Html.LabelFor(m => m.Member.HusbandWifeName, new { @class = "col-md-3 col-md-offset-1 control-label" })
            <div class="col-md-8">
                @Html.DisplayFor(m => m.Member.HusbandWifeName)
            </div>
        </div>
        <div class="form-group company-form">
            @Html.LabelFor(m => m.Name, new { @class = "col-md-3 col-md-offset-1 control-label" })
            <div class="col-md-8">
                @Html.DisplayFor(m => m.Name)
            </div>
        </div>
        <div class="form-group company-form">
            @Html.LabelFor(m => m.Relationship, new { @class = "col-md-3 col-md-offset-1 control-label" })
            <div class="col-md-8">
                @Html.DisplayFor(m => m.Relationship)
            </div>
        </div>
        <div class="form-group company-form">
            @Html.LabelFor(m => m.Address, new { @class = "col-md-3 col-md-offset-1 control-label" })
            <div class="col-md-8">
                MemberProfile
                @Html.DisplayFor(m => m.Address)
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-1 col-md-8">
                <input type="submit" class="btn btn-primary waves-effect waves-light" value="Add Profile" onclick="window.location.href = 'http://localhost:51779/Member/AddMember';" />
                <input type="submit" class="btn btn-primary waves-effect waves-light" value="Edit Profile" onclick="window.location.href = 'http://localhost:51779/Member/AddMember';" />
                <button type="reset" class="btn btn-secondary m-l-5" id="Cancel" onclick='window.location.href = "@Common.GetUrl("Members","Member")"'>
                    Cancel
                </button>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <style>
        .control-label {
            padding-top: 0px !important;
            text-align: left !important;
        }
    </style>
}